- linkText = 
a.Article.is-entering(href=post.link.url target="_blank")
  .Article-next
  .Article-current
    img.Article-image(alt="Image for #{post.title}" src="#{post.image}")
    .Article-title= post.title
    .Article-footer
      .Article-footerLink
        .Article-footerBorderLeft
        .Article-footerBorderRight
        .Article-footerText= post.link.text
        .Article-background
