- linkText = 
a.Article.Article--entrance(href=post.link.url target="_blank")
  .Article-new
  .Article-current
    img.Article-image(alt="Image for #{post.title}" src="#{post.image}")
    .Article-title= post.title
    .Article-footer
      .Article-footerLink
        .Article-footerBorderLeft
        .Article-footerBorderRight
        .Article-footerText= post.link.text
        .Article-background
